* {
    font-family: 'Arial';
}
body {
    background-color: ghostwhite;
}
hr {
    border: none;
    border-top: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}
#header {
    text-decoration: dotted underline;
}
#search {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    text-align: center;
}
fieldset {
    border: none;
}
#fieldset-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
#positive, #negative {
    flex-grow: 1;

    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    outline: none;
}
#positive {
    /* border-radius: 20px 0px 0px 20px; */
    border-right: none;
}
#negative {
    border-left: 1px dotted grey;
    border-right: none;
}
#submit {
    /* border-radius: 0px 20px 20px 0px; */
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
}
#submit:active {
    background-color:lightgrey;
}
#results {
    max-width: 1000px;
    margin: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.loading, .queue, img {
    border: 1px solid grey;
    cursor: pointer;
    height: 30vh;
    border-radius: 5px;
}
.loading {
    width: 30vh;
    border: 1px solid lightcoral;

    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, lightcoral 0, lightcoral 1px, transparent 0, transparent 50%);
}
.loading > div {
    border-radius: 5px 0px 0px 5px;
    height:100%;
    background-color: lightcoral;
    transition: width 0.2s;
}
.queue {
    width: 30vh;
    border: 1px solid lightblue;

    background-size: 10px 10px;
    background-image: repeating-linear-gradient(-45deg, lightblue 0, lightblue 1px, transparent 0, transparent 50%);
}
#fieldset-config {
    line-height:2em;
}
input[type="number"] {
    width: 60px;
}
#seed {
    width: 150px;
}
hr {
    width: 200px;
}
label {
    white-space: nowrap;
}
